.side-bar-layout {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  padding: 0.5em 2em;
  cursor: pointer;
}

.side-bar-layout-text {
  margin-left: 0.5em;
}

.side-bar-layout:hover {
  background-color: rgb(217, 249, 255);
  border-radius: 999px;
  color: rgb(0, 110, 255)
}