.side-bar-container {
  width: 20%;
  border: 2px solid rgb(116, 110, 110);
  overflow-y: scroll;
  overflow-x: hidden;
}

.side-bar-container::-webkit-scrollbar {
  display: none;
}

.side-bar-home-icon {
  margin-bottom: 1.5em;
  margin-left: 2.5em;
  cursor: pointer;
  margin-top: 7px;
}

.side-bar-twitter-icon {
  color: rgb(0, 162, 255);
}

.side-bar {
  margin-left: 0.5em;
}

.sign-out {
  display: flex;
  padding: 0 2em;
  margin-bottom: 1em;
}

.sign-out-button {
  border-radius: 999px;
  background-color: rgb(0, 162, 255);
  padding: 0.5em 2em;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}