.content-container {
  width: 55%;
  border: 2px solid rgb(116, 110, 110);
  overflow-y: scroll;
  overflow-x: hidden;
}

.content-container::-webkit-scrollbar {
  display: none;
}

.search-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-bottom: 5px solid grey;
}

.search-input {
  height: 25px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}

.content {
  display: flex;
  position: relative;
  border-bottom: 1px solid rgb(116, 110, 110);
  color: rgb(61, 61, 61);
  padding: 1em;
}

.content:hover {
  background-color: rgb(241, 241, 241);
}

.tweet {
  margin-left: 0.8em;
  width: 100%;
}

.user {
  display: flex;
  margin-bottom: 5px;
}

.tweet > h4 {
  width: 90%;
  min-height: 19px;
}

.user-name {
  color: black;
}

.user-tag {
  color: rgb(61, 61, 61);
  margin-left: 0.5em;
}

.tweet > img {
  margin-top: .5em;
  max-width: 100%;
  border-radius: 10px;
}

.tweet-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  width: 32%;
}

.tweet-settings {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1em;
  top: 3px;
}

.remove-tweet, .edit-tweet {
  cursor: pointer;
  font-size: 28px !important;
}

.remove-tweet:hover {
  color: red;
}

.edit-tweet:hover {
  color: blue;
}

.likes,
.comments {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.liked {
  color: red !important;
}

.download,
.retweet {
  cursor: pointer;
}

.likes:hover {
  color: rgb(255, 77, 77);
}

.comments:hover {
  color: rgb(0, 26, 255);
}

.download:hover {
  color: rgb(0, 0, 0);
}

.retweet:hover {
  color: rgb(253, 0, 232);
}

.edit-tweet-box-wrapper, .comments-box-wrapper, .edit-comment-box-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.edit-tweet-box-container, .comments-box-container, .edit-comment-box-container {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.edit-comment-box-container {
  z-index: 2;
}

.comments-box-container {
  width: 80%;
  height: 80%;
  overflow-y: scroll;
}

.comment-img {
  max-width: 50% !important;
}

.close-edit-tweet {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 28px !important;
}

.close-edit-tweet:hover {
  color: red;
}

.change-file {
  border-radius: 999px;
  background-color: rgb(0, 162, 255);
  padding: 0.5em 2em;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

@media (max-width: 850px) {
  .content-container {
    width: 65%;
  }
}

@media (max-width: 500px) {
  .content-container {
    width: 100%;
    border: none;
    border-top: 2px solid rgb(116, 110, 110);
  }

  .tweet-box-container {
    padding: 0 1em;
  }

  .user {
    flex-direction: column;
  }

  .user-tag {
    margin-left: 0;
  }
}

@media (max-width: 300px) {

  .tweet-box-title, .tweet-box, .tweet-file-upload {
    padding-left: 0;
  }

  .user-profile {
    display: none;
  }

  .tweet {
    margin-left: 0;
  }
}